#login {
  display: flex;
  justify-content: center;
  width: 350px;
  height: 400px;

  background: #e2e8f0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 3rem 4rem;
  z-index: 1;
}

#formulario {
  text-align: center;
}

#formulario > div {
  margin-bottom: 3rem;
  color: #1e3a8a;
}

h1 {
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 36px;
  margin: 0;
}

h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

button {
  justify-content: center;
  align-items: center;
  padding: 5px 16px;
  width: 160px;
  height: 34px;
  background: #2563eb;
  border: 1px solid #2563eb;
  border-radius: 3px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #fafafa;
  margin: 2rem 0 1rem 0;
}

#recuperacao {
  font-weight: 300;
  font-size: 10px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #403f3f;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 48px;
  padding: 0.5rem 7rem;

  background: #60a5fa;
  position: absolute;
  bottom: 0;
  left: 0;
}

.logoatv {
  height: 100%;
  width: auto;
}

.versao {
  font-size: 12px;
  color: #ffffff;
  margin: 0;
}

@media screen and (max-width: 768px) {
  #login {
    background-color: transparent;
    box-shadow: none;
  }

  #formulario {
    text-align: center;
  }

  #formulario > div {
    color: #fff;
    margin-bottom: 3rem;
  }

  h1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    margin: 0 0 1rem 0;
  }

  h2 {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    margin: 0;
  }

  main {
    background-position: center;
  }

  a {
    color: #d4d4d4;
  }

  footer {
    position: absolute;
    background-color: transparent;
    flex-direction: column;
    top: 75%;
  }

  .logoatv {
    margin-bottom: 0.5rem;
  }
}
